<div>
    <h2>{{name}}</h2>

    <div>
        <div>
            <p>Capital: <span class>{{capital}}</span> </p>
            <p>Population:<span class>{{population}}</span></p>
            <p>languages:</p>
            <ul>
                {{#each languages}}
                <li>{{this.name}}</li>
                {{/each}}
            </ul>

        </div>
        <div>
            <img src="{{flag}}" alt="flag">
        </div>
    </div>
</div>